@font-face {
  font-family: 'helvetica_neuebold_condensed';
  src: font-url('helveticaneue-boldcondensed-webfont.eot');
  src: font-url('helveticaneue-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-boldcondensed-webfont.woff2') format('woff2'),
       font-url('helveticaneue-boldcondensed-webfont.woff') format('woff'),
       font-url('helveticaneue-boldcondensed-webfont.ttf') format('truetype'),
       font-url('helveticaneue-boldcondensed-webfont.svg#helvetica_neuebold_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueBdCnOb';
  src: font-url('helveticaneue-boldcondobliq-webfont.eot');
  src: font-url('helveticaneue-boldcondobliq-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-boldcondobliq-webfont.woff2') format('woff2'),
       font-url('helveticaneue-boldcondobliq-webfont.woff') format('woff'),
       font-url('helveticaneue-boldcondobliq-webfont.ttf') format('truetype'),
       font-url('helveticaneue-boldcondobliq-webfont.svg#helvetica_neueBdCnOb') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neuelight_condensed';
  src: font-url('helveticaneue-lightcondensed-webfont.eot');
  src: font-url('helveticaneue-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-lightcondensed-webfont.woff2') format('woff2'),
       font-url('helveticaneue-lightcondensed-webfont.woff') format('woff'),
       font-url('helveticaneue-lightcondensed-webfont.ttf') format('truetype'),
       font-url('helveticaneue-lightcondensed-webfont.svg#helvetica_neuelight_condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueLtCnOb';
  src: font-url('helveticaneue-lightcondobliq-webfont.eot');
  src: font-url('helveticaneue-lightcondobliq-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-lightcondobliq-webfont.woff2') format('woff2'),
       font-url('helveticaneue-lightcondobliq-webfont.woff') format('woff'),
       font-url('helveticaneue-lightcondobliq-webfont.ttf') format('truetype'),
       font-url('helveticaneue-lightcondobliq-webfont.svg#helvetica_neueLtCnOb') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueMdCnOb';
  src: font-url('helveticaneue-medcondobliq-webfont.eot');
  src: font-url('helveticaneue-medcondobliq-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-medcondobliq-webfont.woff2') format('woff2'),
       font-url('helveticaneue-medcondobliq-webfont.woff') format('woff'),
       font-url('helveticaneue-medcondobliq-webfont.ttf') format('truetype'),
       font-url('helveticaneue-medcondobliq-webfont.svg#helvetica_neueMdCnOb') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueMdCn';
  src: font-url('helveticaneue-mediumcondensed-webfont.eot');
  src: font-url('helveticaneue-mediumcondensed-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-mediumcondensed-webfont.woff2') format('woff2'),
       font-url('helveticaneue-mediumcondensed-webfont.woff') format('woff'),
       font-url('helveticaneue-mediumcondensed-webfont.ttf') format('truetype'),
       font-url('helveticaneue-mediumcondensed-webfont.svg#helvetica_neueMdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueultraLtCn';
  src: font-url('helveticaneue-ultltcond-webfont.eot');
  src: font-url('helveticaneue-ultltcond-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-ultltcond-webfont.woff2') format('woff2'),
       font-url('helveticaneue-ultltcond-webfont.woff') format('woff'),
       font-url('helveticaneue-ultltcond-webfont.ttf') format('truetype'),
       font-url('helveticaneue-ultltcond-webfont.svg#helvetica_neueultraLtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neueultraLtCnOb';
  src: font-url('helveticaneue-ultltcondobliq-webfont.eot');
  src: font-url('helveticaneue-ultltcondobliq-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('helveticaneue-ultltcondobliq-webfont.woff2') format('woff2'),
       font-url('helveticaneue-ultltcondobliq-webfont.woff') format('woff'),
       font-url('helveticaneue-ultltcondobliq-webfont.ttf') format('truetype'),
       font-url('helveticaneue-ultltcondobliq-webfont.svg#helvetica_neueultraLtCnOb') format('svg');
  font-weight: normal;
  font-style: normal;
}