// base10 SCSS Extensions
@import '../base10/base10_scss_extensions/flexbox.scss';
@import '../base10/base10_scss_extensions/methods.scss';
@import 'fonts.scss';


// Palette
$dark:                                    #000000;
$semiDark:                                #5a5a5a;
$medium:                                  #828282;
$semiLight:                               #c8c8c8;
$light:                                   #eeeeee;
$extraLight:                              #f6f6f6;
$neutral:                                 #ffffff;
$error:                                   #ff0000;

// Fonts

$UltraLightCondensed:                     'helvetica_neueultraLtCn';
$UltraLightCondensedOblique:              'helvetica_neueultraLtCnOb';

$LightCondensed:                          'helvetica_neuelight_condensed';
$LightCondensedOblique:                   'helvetica_neueLtCnOb';

$MediumCondensed:                         'helvetica_neueMdCn';
$MediumCondensedOblique:                  'helvetica_neueMdCnOb';

$BoldCondensed:                           'helvetica_neuebold_condensed';
$BoldCondensedOblique:                    'helvetica_neueBdCnOb';


// Site Dimensions
$siteMaxWidth:                            rem(928);
$siteMobileWidth:                         rem(340);

// Baseline
$bodyBackground:                          #ffffff;
$bodyColor:                               $dark;
$bodyFontFamily:                          $LightCondensed;
$bodyFontWeight:                          normal;
$bodyFontSize:                            rem(14);