html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
  display: block;
}*/
body, nav {
  line-height: 1; }

a {
  text-decoration: none; }

iframe {
  border: none;
  overflow-y: scroll;
  overflow-x: hidden; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  line-height: 0;
  vertical-align: top; }

textarea {
  vertical-align: top; }

.hidden {
  display: none !important; }

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
form,
fieldset,
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }
body, header, footer, main, nav, article, section, div, a,
form, fieldset, legend, label, button,
h1, h2, h3, h4, h5, h6,
ol, ul, li, #content > main section#contact .content-block p a, #content > main section#contact .content-block p span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

@font-face {
  font-family: 'helvetica_neuebold_condensed';
  src: url(/assets/helveticaneue-boldcondensed-webfont-5626d283af0d29be260aacef7bb5d9ea46e55788f8ba6db1884a16000487933d.eot);
  src: url(/assets/helveticaneue-boldcondensed-webfont-5626d283af0d29be260aacef7bb5d9ea46e55788f8ba6db1884a16000487933d.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-boldcondensed-webfont-901e3ef696362407f907ebd73e449a31fde948b365f633e9424052c80440593e.woff2) format("woff2"), url(/assets/helveticaneue-boldcondensed-webfont-b064788dcac8bed5c22188872081eba37ede9da1ece231969f1bc3d1809e4c40.woff) format("woff"), url(/assets/helveticaneue-boldcondensed-webfont-088c766ab9c13cc5f3ae98a9a6161a43064f9752f0b24db4dd1b04576586e1d6.ttf) format("truetype"), url(/assets/helveticaneue-boldcondensed-webfont-412d0a77617a6b98a0117f662fd3fa56081fe1363665fe447ee3216fd842aedc.svg#helvetica_neuebold_condensed) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neueBdCnOb';
  src: url(/assets/helveticaneue-boldcondobliq-webfont-517cb0bed708127a15d5bfd26c0f6d3cb2d55d53a15cd313dde4d6b85024c1fa.eot);
  src: url(/assets/helveticaneue-boldcondobliq-webfont-517cb0bed708127a15d5bfd26c0f6d3cb2d55d53a15cd313dde4d6b85024c1fa.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-boldcondobliq-webfont-154c3f16e8544c6f6e8e0d2f22a7298625babbf7a991ad0b0ed826919caab704.woff2) format("woff2"), url(/assets/helveticaneue-boldcondobliq-webfont-98a576970f4ea7aeda08bea7558e14bb3e43c8c8bcf1fd26f1192d4df5db727a.woff) format("woff"), url(/assets/helveticaneue-boldcondobliq-webfont-ee6081094d8851560f9aedd8d9a88a888795fa822dd9fc7ea763d27b4590e832.ttf) format("truetype"), url(/assets/helveticaneue-boldcondobliq-webfont-c0a9a0173d0f393795440d039fa7c92910aecd1eac9d039cc192e43a6f328a13.svg#helvetica_neueBdCnOb) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neuelight_condensed';
  src: url(/assets/helveticaneue-lightcondensed-webfont-be258678171d657f52dffac16e790ce63bbe205a53bc75ad52284f2c4c92bd90.eot);
  src: url(/assets/helveticaneue-lightcondensed-webfont-be258678171d657f52dffac16e790ce63bbe205a53bc75ad52284f2c4c92bd90.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-lightcondensed-webfont-247b803835cd525e614dd886bf849112e43f7046687b40139dbf59830b95c88e.woff2) format("woff2"), url(/assets/helveticaneue-lightcondensed-webfont-a0a72e8ed3509ecc7d15bafab671552191a48e94767b8dad2fa63132456bed1e.woff) format("woff"), url(/assets/helveticaneue-lightcondensed-webfont-1d664f166e95af6b1307c2b48021f105858624959aae6cb88eca641d55577a12.ttf) format("truetype"), url(/assets/helveticaneue-lightcondensed-webfont-bf9133097100c2e255ae1febdf01f7e8342cf0199b9dfe0868e7eb2b796ee4b0.svg#helvetica_neuelight_condensed) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neueLtCnOb';
  src: url(/assets/helveticaneue-lightcondobliq-webfont-d051b13720ead8d2a26241bddded1bcc97417a646b9e94a81d8fa03688c61df5.eot);
  src: url(/assets/helveticaneue-lightcondobliq-webfont-d051b13720ead8d2a26241bddded1bcc97417a646b9e94a81d8fa03688c61df5.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-lightcondobliq-webfont-5c75e62033785daea635cae2f660ed2f9371e46f1b9f9b199353948fe721d999.woff2) format("woff2"), url(/assets/helveticaneue-lightcondobliq-webfont-932a33d596b9878f7d4571353e444411bd238fb2e7ab6913a03731c14e6264c1.woff) format("woff"), url(/assets/helveticaneue-lightcondobliq-webfont-98ed54b39841c0d0fa08aa5d840a01c32825b72785c92d6affc4bf23ac1f3ec2.ttf) format("truetype"), url(/assets/helveticaneue-lightcondobliq-webfont-652f170a6efccf5c53bbd60d5a2895e65d1b6c436e4c284d6fee25934760db58.svg#helvetica_neueLtCnOb) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neueMdCnOb';
  src: url(/assets/helveticaneue-medcondobliq-webfont-eafe31dc61c1c781ccb1ca03833e07b31b2444548410a61c5e5dea0bfb40d7ab.eot);
  src: url(/assets/helveticaneue-medcondobliq-webfont-eafe31dc61c1c781ccb1ca03833e07b31b2444548410a61c5e5dea0bfb40d7ab.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-medcondobliq-webfont-c4ffe9e7dce9dcf3559aef36b3399d24112c9ae7530de6c44715da6bff14e6e9.woff2) format("woff2"), url(/assets/helveticaneue-medcondobliq-webfont-14f3a9040a99db8e7d2d79da9c2ef1ed1f386334c53f9663c5d8c073cb37ec28.woff) format("woff"), url(/assets/helveticaneue-medcondobliq-webfont-11ac6fe5e20367aa6c5f906079bbacba5101a21a9ba26d4ef029cd711f901505.ttf) format("truetype"), url(/assets/helveticaneue-medcondobliq-webfont-ddff5d5f5d89ee2b5751c9288c528784019763069c834d39762339718d426087.svg#helvetica_neueMdCnOb) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neueMdCn';
  src: url(/assets/helveticaneue-mediumcondensed-webfont-c1014a3a76d5bdae159d2c760ce20e80634413154612be60e3eba61a550d8e90.eot);
  src: url(/assets/helveticaneue-mediumcondensed-webfont-c1014a3a76d5bdae159d2c760ce20e80634413154612be60e3eba61a550d8e90.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-mediumcondensed-webfont-53a798175b7ede31cf2480952c0b5aa806855018556fab4ef90ad1a7efdacd0b.woff2) format("woff2"), url(/assets/helveticaneue-mediumcondensed-webfont-31ca3dd9ea2a90a68cc688cdef2d33df8ec66faa80ac65f6ed11d3aeb9c2269a.woff) format("woff"), url(/assets/helveticaneue-mediumcondensed-webfont-6d12715f33032dbd382791206a9904520a20e0131974560bc7509ba73c9aa12f.ttf) format("truetype"), url(/assets/helveticaneue-mediumcondensed-webfont-af423f3f2d4716e7c31e842af5bc72f71e51ab6526f84a79f0b5c919a776ff5c.svg#helvetica_neueMdCn) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neueultraLtCn';
  src: url(/assets/helveticaneue-ultltcond-webfont-22ad2f7c29787efa55272988074b169c9ca29e7a404c9f6fb72703aeb4feb484.eot);
  src: url(/assets/helveticaneue-ultltcond-webfont-22ad2f7c29787efa55272988074b169c9ca29e7a404c9f6fb72703aeb4feb484.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-ultltcond-webfont-9302e81dcfd1be162609b9cde297ca4f2fb8c94e8e4305b2ee0aac9061801870.woff2) format("woff2"), url(/assets/helveticaneue-ultltcond-webfont-69713bb6a99acc4ddf53bfd5883bb8936b3fd3f74793a636a8b92af6e125e1d5.woff) format("woff"), url(/assets/helveticaneue-ultltcond-webfont-0ef1415908fea424556f91cb64662f3209650209e2402ee1cd3382f939451236.ttf) format("truetype"), url(/assets/helveticaneue-ultltcond-webfont-80bb037638a9a49bfa1c4cef82a7ac8cec2f84d69742405a1db3d29634cfaef3.svg#helvetica_neueultraLtCn) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helvetica_neueultraLtCnOb';
  src: url(/assets/helveticaneue-ultltcondobliq-webfont-df5e77fa1c2d64f652fd6aacdbdeee42ea4a00e3d6b2ea2084f523fb8f93d016.eot);
  src: url(/assets/helveticaneue-ultltcondobliq-webfont-df5e77fa1c2d64f652fd6aacdbdeee42ea4a00e3d6b2ea2084f523fb8f93d016.eot?#iefix) format("embedded-opentype"), url(/assets/helveticaneue-ultltcondobliq-webfont-bcd15c8edccd4566a1c936814da3bfadc244af0fab6eba91f89692b65c4f4b98.woff2) format("woff2"), url(/assets/helveticaneue-ultltcondobliq-webfont-18277a262adfcf3e6145de24959c6005232db9aaaf252f33a9f5fba079080818.woff) format("woff"), url(/assets/helveticaneue-ultltcondobliq-webfont-223a0f6579317683a644e3c7be7e062555eba6a82689ea1ba1523fa3db3d87cf.ttf) format("truetype"), url(/assets/helveticaneue-ultltcondobliq-webfont-529e166e1724a38e69aed918e801b9dad1b565940bee4fa619efbf435a537268.svg#helvetica_neueultraLtCnOb) format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 62.5%; }

/* 10px || 1rem */
body {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: #000000;
  font-family: "helvetica_neuelight_condensed";
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4rem; }
  body header, body footer, body main, body nav, body article, body section, body div, body a, body span,
  body form, body fieldset, body legend, body input, body textarea, body button,
  body h1, body h2, body h3, body h4, body h5, body h6, body p,
  body li {
    border-color: #000000;
    border-style: solid;
    border-width: 0; }
  body p {
    line-height: 2.2rem;
    margin-bottom: 2rem; }
    body p a {
      display: inline-block;
      text-decoration: underline; }
  body a, body a:link, body a:visited, body a:active {
    color: #000000; }
    body a:hover, body a:link:hover, body a:visited:hover, body a:active:hover {
      text-decoration: underline; }
  body a:before,
  body a:after {
    font-family: FontAwesome; }

#content {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 92.8rem;
  padding: 6rem; }
  #content > header {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -moz-box-flex: 1;
    -moz-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 6rem; }
    #content > header nav {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end; }
      #content > header nav ul li {
        font-family: "helvetica_neuebold_condensed";
        font-size: 1.6rem;
        margin: 0 0 0 2rem; }
      #content > header nav ul li:before {
        content: "/"; }
  #content > main {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #content > main blockquote {
      margin-bottom: 6rem; }
      #content > main blockquote p, #content > main blockquote footer cite {
        color: #828282;
        font-family: "helvetica_neueultraLtCnOb";
        font-size: 3.2rem;
        line-height: 4.6rem;
        text-align: center; }
      #content > main blockquote footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center; }
        #content > main blockquote footer cite:before {
          content: "~"; }
    #content > main section {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 6rem; }
      #content > main section > header {
        border-width: 0 0 0.1rem 0;
        font-family: "helvetica_neuebold_condensed";
        padding-bottom: 1rem; }
        #content > main section > header h1 {
          font-size: 2.1rem; }
        #content > main section > header h1:before {
          content: "/"; }
      #content > main section .content-block {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 2rem 0 0 0; }
        #content > main section .content-block h2 {
          font-family: "helvetica_neueMdCnOb";
          font-size: 1.6rem; }
        #content > main section .content-block p {
          margin: 1rem 0 0 2rem; }
    #content > main .section-group {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      #content > main .section-group section {
        width: calc(50% - 20px); }
    #content > main section#contact .content-block p {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #content > main section#contact .content-block p span:after {
        margin-left: 0.3rem;
        content: "~ " attr(data-type); }
    #content > main section#contact .content-block p:first-of-type {
      margin-top: 0rem; }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

