%main
  %blockquote
    %p
      “Design must reflect the practical and aesthetic in business, but above all...
      %br 
      good design must primarily serve people.”
    
    %footer
      %cite
        Thomas J. Watson

  .section-group
    %section#about
      %header
        %h1
          about
      .content-block
        %h2
          background
        %p
          Developer with over ten years of professional experience. Detail orientated, end-user focused, and a passion for solving complex problems. Experienced in system architecture, UX design, ad trafficking, as well as a background in both healthcare and consumer advertising

      .content-block
        %h2
          development philosophy
        %p
          Strive to create systems which are well-designed, intuitive, and responsive

      .content-block
        %h2
          certifications
        %p
          DoubleClick QA, Google Web Designer, Apple Certified Technician

    %section#tools
      %header
        %h1
          tools
      .content-block
        %h2
          current crushes
        %p
          ruby / rails, javascript / angular, sql, css, html, puma

      .content-block
        %h2
          old flames
        %p
          php, actionscript / flash, apache, photoshop, illustrator

      .content-block
        %h2
          flings
        %p
          node, express, redis, wordpress

      .content-block
        %h2
          testing the waters
        %p
          react, aurelia, swift, aws


  %section#work
    %header
      %h1
        work
    .content-block
      %h2
        Currently being updated. ETA: 5/10/2017
      %p
        In the mean time, please 
        = link_to "contact me", "#contact"
        with any questions or requests for work samples  

  %section#contact
    %header
      %h1
        contact
    .content-block
      %p
        = mail_to "eric@base10creations.com", "eric@base10creations.com"
      %p
        = link_to "www.linkedin.com/in/ericnorcross", "http://www.linkedin.com/in/ericnorcross"
        = link_to "www.github.com/eric-norcross", "http://www.github.com/eric-norcross"
      %p
        %span.tel{data: {type: "cell"}}
          (619) 750-3656
        %span.tel{data: {type: "office"}}
          (415) 513-5167