%header
  #logo
    = image_tag "logo.svg", alt: "Eric Norcross - Full-Stack Developer"
  %nav
    %ul
      %li= link_to "about", "#about"
      %li= link_to "work", "#work"
      %li= link_to "contact", "#contact"